.write {
    padding-top: 50px;
}

.writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm {
    position: relative;
}

.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.addFileButton {
    display: none;
}

.writeInput {
    font-size: 50px;
    border: none;
    padding: 20px;
    width: 70vw;
    resize: none;
}

.writeInput:focus {
    outline: none;
}

.writeIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 5px;
    font-size: 20px;
    color: rgb(114, 114, 114);
}

.writeText {
    font-size: 40px;
}

.writeSubmit {
    position: absolute;
    right: 150px;
    top: 100px;
    color: white;
    background-color: teal;
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 32px;
}
